.bluetooth-headset-monitor-menu-header {
	font-weight: 700;
}

.bluetooth-headset-monitor-device-name {
	font-weight: 700;
}

.bluetooth-headset-monitor-device-details {
	color: rgba(255, 255, 255, 0.78);
}
